@import "/home/thomas/.cache/wal/colors-waybar.css";

@define-color selected        @color1;
@define-color text            @foreground;
@define-color background      alpha(@color0, 0.7);
@define-color background-alt  alpha(@color1, .4);
@define-color hover           alpha(@color6, .5);

/*
 * --accent-color: transparent
 * removes the ugly blue box around the notification box
 * inside the notification center
 */

* {
  --accent-color: transparent;
  color: @text;

  font-size: 14px;
  font-family: "JetBrains Mono Nerd Font 11";
  transition: 200ms;
}

/*
 * Main window
 */

.control-center {
  background: @background;
  border-radius: 24px;
  border: 2px solid @selected;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.6);
  margin: 20px;
  padding: 10px;
}

/*
 * Notification section
 */

.notification-group {
  background: transparent;
}

.notification-group-headers {
  font-weight: bold;
  font-size: 1.25rem;
  color: @text;
}

.notification-group-icon {
  margin-right: 2px;
  color: @text;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: transparent;
  color: @text;
  margin: 4px;
  padding: 4px;
  border-radius: 12px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: @hover;
}

/*
 * MPRIS
 */

.widget.widget-mpris {
  background: transparent;
  border-radius: 0px;
  padding: 0;
  border: none;
}

.widget.widget-mpris > carouselindicatordots {
  color: @color1;
  padding: 10px;
  padding-right: 15px;
  margin-top: 10px;
}

.widget-mpris > box > button:hover {
  background: alpha(@color6, .2);
}

.widget-mpris-player {
  box-shadow: none;
  border: 1px solid rgba(255,255,255,0.15);
  margin: 5px;
}

/*
 * Audio volume slider
 */

.widget-volume highlight {
  background: @color4;
}


/*
 * Title & all clear button
 */

.widget-title {
  background: transparent;
  margin: 8px;
}

.widget-title button {
  background: @background-alt;
  border-radius: 6px;
  padding: 4px 16px;
}

.widget-title button:hover {
  background-color: @hover;
}

.widget-title button:active {
  background-color: @selected;
}

.widget-dnd {
  font-weight: bolder;
}

/*
 * Do not disturb
 */

.widget-dnd > switch:checked {
  background: @color4;
}

.widget-dnd > switch:checked:hover {
  background: alpha(@color4, 0.4);
}
