/*
 * PROGRAM LAUNCHER STYLE
 */

@import "default.rasi"

* {
  background-color: transparent;

  border:  0;
  margin:  0;
  padding: 0;
  spacing: 0;
}

inputbar {
  children: [prompt, entry];
}

prompt {
  enabled: false;
}

element {
  children: [element-icon, element-text];
}

element-icon {
  padding: 0 10px 0 0;
  size: 24px;
}

window {
  background-color: @background;
  border: 2px;
  border-color: @selected-active-background;
  border-radius: 14px;
  padding: 4px;
}

mainbox {
  children: [inputbar, listview];
}

inputbar {
  margin: 0 0 4px 0;
}

entry {
  padding: 10px;
  text-color: @foreground;
}

listview {
  lines: 10;
  scrollbar: false;
}

scrollbar {
  background-color: @background-color;
  border-radius: 6px;
  handle-color: @foreground;
  handle-width: 6px;
  margin: 0 0 0 6px;
}

element {
  border: 1px;
  border-radius: 10px;
  padding: 12px;
}

element selected {
  background-color: @background-alt;
  border-color: @foreground;
}

element-text {
  text-color: @foreground;
}

element-text selected {
  text-color: white;
}
