/*
 * WALLPAPER SELECTION WINDOW STYLE
 */

@import "default.rasi"

window {
    fullscreen: true;
    transparency: "real";
    background-color: black / 12%;
    border: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

mainbox {
    children: [ "listview" ];
    background-color: transparent;
    margin: 0;
    padding: 24px;
}

listview {
    text-color: @foreground;
    background-color: transparent;

    columns: 4;
    lines: 3;
    scrollbar: false;
    fixed-height: true;
    fixed-columns: true;
    border: 0;
}

element {
    text-color: @foreground;
    background-color: transparent;
    border-radius: 24px;
    orientation: vertical;
}

element-icon {
    background-color: transparent;
    expand: false;
    size: 30%;
}

element-text {
    text-color: transparent;
    background-color: transparent;
}

element normal.normal,
element alternate.normal
{
    background-color: transparent;
}

element selected.normal {
    background-color:            white / 5%;
    border:                      2px solid;
    border-color:                @selected;
}
